/* COLOR PALETTES
https://colorhunt.co
*/

:root{
    --color-bg:rgba(71, 61, 139, 0.697);
    --color-border:darkslateblue;
    --color-border-opaque: rgba(71, 61, 139, 0.559);
    --color-primary: rgb(226, 233, 236);
    --color-secondary:#bdd3e4;
    --color-accent: darkslateblue;
}

body {
    /* background-color: var(--color-body-bg); */
    /* padding: 1vh; */
    margin: 0;
}

.main {
    font-family: 'Cutive Mono', monospace;
    font-size: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:flex-start;
    margin: 0 auto;
    background-color: var(--color-bg);
    min-height: 98vh;
    padding: 1vh;
}
.main>.ibit{
    margin-bottom: 1vh;
}

.ibit {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
.input, .output{
    text-align: center;
    padding-left: 5%;
    padding-right: 5px;
    color: darkslateblue;
}
.input{
    background-color: var(--color-primary);
    border: 1px solid var(--color-border);
    border-bottom: 0px;
    border-radius: 1.75vh 0 0 0;
}
.output{
    border: 1px solid var(--color-border);
    border-top: 1px solid var(--color-border-opaque);
    background-color: var(--color-secondary);
}
.numerator{
    font-size: 2vh;
    display: flex;
    justify-content: center;
    color: white;
    border: 0px solid var(--color-border);
    background-color: var(--color-accent);
    width: 3vh;
    height: 3vh;
    align-items: center;
    border-radius: 100%;
    position: absolute;    
}
