/* COLOR PALETTE
https://colorhunt.co/palette/907fa4a58faaa6d6d6ededd0
*/

:root{
    --color-bg:#383E56;
    --color-primary:#EEDAD1;
    --color-secondary:#D4B5B0;
    --color-accent:#383E56;
}

body {
    /* background-color: var(--color-body-bg); */
    /* padding: 1vh; */
    margin: 0;
}

.main {
    font-family: 'Cutive Mono', monospace;
    font-size: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:flex-start;
    margin: 0 auto;
    background-color: var(--color-bg);
    min-height: 98vh;
    padding: 1vh;
}
.main>.ibit{
    margin-bottom: 1vh;
}

.ibit {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
.input, .output{
    text-align: left;
    padding-left: 5%;
    padding-right: 0.5%;
    
}
.input{
    background-color: var(--color-primary);
    border-radius: 1.75vh 1.75vh 0 0;
}
.output{
    background-color: var(--color-secondary);
    border-radius: 0 0 1.7vh 1.7vh;
}
.numerator{
    font-size: 2vh;
    display: flex;
    justify-content: center;
    color: white;
    background-color: var(--color-accent);
    width: 3vh;
    height: 3vh;
    align-items: center;
    border-radius: 100%;
    position: absolute;    
}
